# ALS Project

## History data  
- multi-entry  
- make into single entry

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [36]:
import string

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
# load the dataset
history = pd.read_csv("data/AlsHistory.csv")

In [4]:
print(history.shape)
history.head()

(12058, 16)

,subject_id,Site_of_Onset___Bulbar,Site_of_Onset___Limb,Site_of_Onset___Limb_and_Bulbar,Site_of_Onset___Other,Site_of_Onset___Other_Specify,Site_of_Onset___Spine,Subject_ALS_History_Delta,Disease_Duration,Symptom,Symptom_Other_Specify,Location,Location_Other_Specify,Site_of_Onset,Onset_Delta,Diagnosis_Delta
0,89,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,329,NaN,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,-1706.0,-1068.0
2,348,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Onset: Other,-501.0,-302.0
3,406,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,411,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dups(history)

NameError: name 'dups' is not defined

In [6]:
# delete 'Site_of_Onset___Other_Specify' - empty
history.drop('Site_of_Onset___Other_Specify', axis=1, inplace=True)

In [7]:
# delete 'Location_Other_Specify' - empty
history.drop('Location_Other_Specify', axis=1, inplace=True)

In [8]:
# delete 'Disease_Duration' - empty
history.drop('Disease_Duration', axis=1, inplace=True)

In [9]:
# delete 'Subject_ALS_History_Delta' - empty
history.drop('Subject_ALS_History_Delta', axis=1, inplace=True)

In [10]:
print(history.shape)
history.head()

(12058, 12)

,subject_id,Site_of_Onset___Bulbar,Site_of_Onset___Limb,Site_of_Onset___Limb_and_Bulbar,Site_of_Onset___Other,Site_of_Onset___Spine,Symptom,Symptom_Other_Specify,Location,Site_of_Onset,Onset_Delta,Diagnosis_Delta
0,89,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,329,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1706.0,-1068.0
2,348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Onset: Other,-501.0,-302.0
3,406,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,411,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Split data - onset and daignosis dates from body location**  
- dates

In [11]:
history_onset_dates = history[['subject_id', 'Onset_Delta', 'Diagnosis_Delta']].copy()

In [12]:
print(history_onset_dates.shape)
history_onset_dates.head()

(12058, 3)

   subject_id  Onset_Delta  Diagnosis_Delta
0          89          NaN              NaN
1         329      -1706.0          -1068.0
2         348       -501.0           -302.0
3         406          NaN              NaN
4         411          NaN              NaN

In [13]:
# remove duplicates
dups(history_onset_dates)
history_onset_dates.drop_duplicates(inplace=True)

NameError: name 'dups' is not defined

In [14]:
print(history_onset_dates.shape)
history_onset_dates.head()

(12058, 3)

   subject_id  Onset_Delta  Diagnosis_Delta
0          89          NaN              NaN
1         329      -1706.0          -1068.0
2         348       -501.0           -302.0
3         406          NaN              NaN
4         411          NaN              NaN

In [15]:
onset = history_onset_dates[[ 'subject_id', 'Onset_Delta', 'Diagnosis_Delta']].copy()

In [16]:
onset.head()

   subject_id  Onset_Delta  Diagnosis_Delta
0          89          NaN              NaN
1         329      -1706.0          -1068.0
2         348       -501.0           -302.0
3         406          NaN              NaN
4         411          NaN              NaN

In [17]:
# delete the empty rows
onset.dropna(axis=0, inplace=True, thresh=2)

In [18]:
onset.head(10)

    subject_id  Onset_Delta  Diagnosis_Delta
1          329      -1706.0          -1068.0
2          348       -501.0           -302.0
5          533      -1023.0            -44.0
6          586       -715.0           -507.0
7          649       -341.0              NaN
9          649       -341.0              NaN
10         708      -1070.0           -986.0
11         902       -514.0            -49.0
13        1064       -550.0           -462.0
14        1234      -1181.0              NaN

In [19]:
filename = 'clean_data/onset_date.csv'
onset.to_csv(filename, index=False)

#### History location

Columns ready for analysis = 
- Site_of_Onset___Bulbar
- Site_of_Onset___Limb
- Site_of_Onset___Limb_and_Bulbar
- Site_of_Onset___Other
- Site_of_Onset___Spine
- Site_of_Onset
... can remove the columns above.

In [20]:
history_location = history[['subject_id', 'Site_of_Onset___Bulbar', 
        'Site_of_Onset___Limb', 'Site_of_Onset___Limb_and_Bulbar', 'Site_of_Onset___Other',
        'Site_of_Onset___Spine', 'Symptom', 'Symptom_Other_Specify', 'Location', 
        'Site_of_Onset',]].copy()

In [21]:
print(history_location.shape)
history_location.head()

(12058, 10)

,subject_id,Site_of_Onset___Bulbar,Site_of_Onset___Limb,Site_of_Onset___Limb_and_Bulbar,Site_of_Onset___Other,Site_of_Onset___Spine,Symptom,Symptom_Other_Specify,Location,Site_of_Onset
0,89,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,329,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Onset: Other
3,406,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,411,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
history_location['Site_of_Onset'].unique()

array([nan, 'Onset: Other', 'Onset: Bulbar', 'Onset: Limb',
       'Onset: Spine', 'Onset: Limb and Bulbar'], dtype=object)

In [23]:
# correct site of onset columns <- 'Site_of_Onset'
def bulbar(row):
    if row['Site_of_Onset___Bulbar'] == 1:
        return 1
    elif row['Site_of_Onset']== 'Onset: Bulbar':
        return 1
    else: 
        return 0

# correct site of onset columns <- 'Site_of_Onset'
def limb(row):
    if row['Site_of_Onset___Limb'] == 1:
        return 1
    elif row['Site_of_Onset']== 'Onset: Limb':
        return 1
    else: 
        return 0

# correct site of onset columns <- 'Site_of_Onset'
def spine(row):
    if row['Site_of_Onset___Spine'] == 1:
        return 1
    elif row['Site_of_Onset']== 'Onset: Spine':
        return 1
    else: 
        return 0

# correct site of onset columns <- 'Site_of_Onset'
def limb_bulbar(row):
    if row['Site_of_Onset___Limb_and_Bulbar'] == 1:
        return 1
    elif row['Site_of_Onset']== 'Onset: Limb and Bulbar':
        return 1
    else: 
        return 0
    
# correct site of onset columns <- 'Site_of_Onset'
def other(row):
    if row['Site_of_Onset___Other'] == 1:
        return 1
    elif row['Site_of_Onset']== 'Onset: Other':
        return 1
    else: 
        return 0

In [24]:
# make 1 and 0 columns with site locations
history_location['site_onset_bulbar'] = history_location.apply(bulbar, axis=1)
history_location['site_onset_limb'] = history_location.apply(limb, axis=1)
history_location['site_onset_spine'] = history_location.apply(spine, axis=1)
history_location['site_onset_other'] = history_location.apply(other, axis=1)
history_location['site_onset_limb_and_bulbar'] = history_location.apply(limb_bulbar, axis=1)

In [25]:
print(history_location.shape)
history_location.head()

(12058, 15)

,subject_id,Site_of_Onset___Bulbar,Site_of_Onset___Limb,Site_of_Onset___Limb_and_Bulbar,Site_of_Onset___Other,Site_of_Onset___Spine,Symptom,Symptom_Other_Specify,Location,Site_of_Onset,site_onset_bulbar,site_onset_limb,site_onset_spine,site_onset_other,site_onset_limb_and_bulbar
0,89,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
1,329,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
2,348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Onset: Other,0,0,0,1,0
3,406,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0
4,411,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0

In [26]:
# 
history_symptom = history_location[['subject_id','Symptom', 
                                    'Symptom_Other_Specify', 'Location']].copy()

In [27]:
print(history_symptom.shape)
history_symptom.head(20)

(12058, 4)

    subject_id     Symptom Symptom_Other_Specify                  Location
0           89         NaN                   NaN                       NaN
1          329         NaN                   NaN                       NaN
2          348         NaN                   NaN                       NaN
3          406         NaN                   NaN                       NaN
4          411         NaN                   NaN                       NaN
5          533         NaN                   NaN                       NaN
6          586         NaN                   NaN                       NaN
7          649    WEAKNESS                   NaN                    FACIAL
8          649         NaN                   NaN                       NaN
9          649      Speech                   NaN                    SPEECH
10         708         NaN                   NaN                       NaN
11         902         NaN                   NaN                       NaN
12        1025         NaN                   NaN                       NaN
13        1064         NaN                   NaN                       NaN
14        1234      Speech                   NaN           TONGUE WEAKNESS
15        1234         NaN                   NaN                       NaN
16        1234  Swallowing                   NaN  ORAL PNARYNGIAL WEAKNESS
17        1309         NaN                   NaN                       NaN
18        1312         NaN                   NaN                       NaN
19        1736         NaN                   NaN                       NaN

In [28]:
# delete the empty rows
history_symptom.dropna(axis=0, inplace=True, thresh=3)

In [29]:
history_symptom.reset_index(inplace=True, drop=True)

In [30]:
print(history_symptom.shape)
history_symptom.head(10)

(2653, 4)

   subject_id     Symptom Symptom_Other_Specify                  Location
0         649    WEAKNESS                   NaN                    FACIAL
1         649      Speech                   NaN                    SPEECH
2        1234      Speech                   NaN           TONGUE WEAKNESS
3        1234  Swallowing                   NaN  ORAL PNARYNGIAL WEAKNESS
4        2540    WEAKNESS                   NaN                 RIGHT LEG
5        2956    WEAKNESS                   NaN                  LEFT LEG
6        3085      Speech                   NaN                    BULBAR
7        3551    WEAKNESS                   NaN                     R ARM
8        3809    WEAKNESS                   NaN           (R) HAND + FOOT
9        3870    WEAKNESS                   NaN              ORAL MUSCLES

In [31]:
def make_lower(val):
    w=val.lower()
    return w

In [32]:
# make all values lowercase 
history_symptom['location'] = history_symptom['Location'].apply(make_lower)

In [44]:
# list the unique words
#history_symptom['location'].unique()

In [48]:
val = "1st 2 fingers-hands"
punct = set(string.punctuation)
clean_val = val.translate(str.maketrans('', '', string.punctuation))
words = clean_val.split()
print(words)

['1st', '2', 'fingershands']

In [52]:
# functions to featurize strings of location

rights = ['r', 'rt', 'right', 'handsright', 'righ', 'rue', 'armright', 'limbsright',
         'handsr', 'armr', 'lr', 'rleright', 'rl', 'handright', 'rleg', 'rfoot']
lefts = ['l', 'lt' , 'left', 'legleft', 'lleleft', 'lr', 'handleft', 'rl', 'handl',
        'limbleft', 'footleft', 'lshoulder']
bilaterals = ['bilateral', 'legsbilateral', 'bilaterally', 'bilat', 'extremitiesbilateral',
             'handsbilateral', 'bil', 'bilateralhands']
lowers = ['lower', 'lowerupper']
uppers = ['upper', 'shoulder', 'lowerupper']

generals = ['generalized', 'body', 'general', 'back', 'global', 'trunkfasciculation']

faces = ['face', 'facial', 'tonguefacespeech', 'armsface', 'nose', 'orofacial', 
         'tongueface', 'facetongue']

mouths = ['mouth', 'tongue', 'oral', 'pharynx', 'pnaryngial', 'throat', 'laryngeal', 
          'dysphagia', 'larynx', 'oropharyngal', 'mouththroat', 'swallow', 'pharyngeal',
          'throatswallowing', 'oropharyngeal', 'esphagus', 'choking', 'mouthtongue',
          'legmouthafter', 'tonguelarynx', 'nasopharynx', 'thracic', 'tonguelimbs',
          'tonguefacespeech', 'anaephanyrox', 'tonguethroat', 'pharygealchokingspeech',
         'jaw', 'swallowing', 'oralpharynx', 'tongueface', 'tongueslowing', 'facetongue',
         'mouththroat', 'deglutition', 'handmouth', 'masseter', 'oropharynx']

speechs = ['speech', 'bulbar', 'voice', 'voicethroat', 'dysarthria', 'dysphornia',
          'bulbaire', 'pseudobulbar', 'speak', 'speechbulbar', 'dysurthria', 'dysartria',
          'dysphonia', 'speechoral', 'pronounce', 'throatvoice', 'vocal', 'speechthroat',
          'tonguemouth', 'dysparthria', 'pronunciation', 'tonguefacespeech', 
          'speechinitial', 'bulbartongue', 'dysathria', 'dysarythria', 'slurring',
          'dysarthmia', 'slurred', 'voicethroatbulbar', 'dysphagiadysarthria',
          'bulbarthroat', 'dysarthrophonia', 'slurredmouth', 'dysphagiadysarthria',
          'hoarseness', 'bulbardysarthria', 'dysarthrisa']

feet = ['foot', 'feet', 'toe', 'legfoot', 'footdrop', 'feetankle', 'bublar', 'legfoot',
       'plantar', 'legsfeet', 'footleft', 'legfoot', 'rfoot']

leg = ['lower','leg', 'legs', 'ankle', 'hip', 'le', 'lower', 'legmild', 'handlegs',
       'tibial', 'calf', 'thigh', 'ankles', 'armslegs', 'legstrunk', 'rle', 
       'knee', 'tibiales', 'tibialus', 'legleft', 'lowr', 'legsbilateral', 'legfoot',
       'armslegs', 'tonguelimbs', 'legsbilateral', 'armleg', 'feetankle', 'legproximaldistal',
      'diffuselyrllegs', 'thighs', 'hipleft', 'calves', 'calf', 'legproximal', 'legl',
      'fibuleos', 'ankledrop', '1996legs', 'legfoot', 'rleg', 'legsfeet', 'peroneal', 'rleg',
      'legfoot', 'armlegchest']

hands = ['finger', 'fingers', 'hands', 'hamd', 'hand', 'grip', 'thumb', 'handlegs',
        'handright', 'handsright', 'fingershands', 'handpresis', 'lthumb', 'thumbleft',
        'handdexterity', 'handarmshoulder', 'handsr', 'thenar', 'wrist', 'band',
        'extremityhand', 'handvery', 'thumbhand', 'handfingers', 'thumbs', 'handfingerthumb',
        'midfinger', 'handright', 'handleft', 'armshands', 'handsbilateral', 'handmouth',
        'handl', 'handr', 'bilateralhands']

arms = ['arm', 'arms', 'upper', 'forearm', 'handarm', 'armsneck', 'armslegs',
       'armproximal', 'armmild', 'rue', 'armright', 'armsreduced', 'handarmshoulder', 
       'armslegs', 'tonguelimbs', 'armsface', 'uele', 'armleg', 'armshoulder',
       'elbow', 'ue', 'armbilaterally', 'forearmshoulder', 'bicepts', 'armshands', 'biceps',
       'armlegchest']

arms_and_legs = [ 'all 4 limbs', 'four limbs']

respiratory = ['respiratory', 'diaphragm', 'abdominal', 'abdomen', 'armlegchest']

neck_head = ['neck', 'head', 'cervical', 'shoulder', 'handarmshoulder', 'shoulders',
             'armshoulder', 'forearmshoulder', 'lshoulder']

def word_assoc(val, cat):
    '''
    val:  string
    cat:  list of words or letter to group
    '''
    punct = set(string.punctuation)
    clean_val = val.translate(str.maketrans('', '', string.punctuation))
    words = clean_val.split()
    print(words)
    for word in words:
        #print(word)
        if word in cat:
            return 1
    return 0

def right_side(val):
    result = word_assoc(val, rights)
    return result

def left_side(val):
    return word_assoc(val, lefts)

In [53]:
this = "diffuselyr>l(right and arms)"
right_side(this)

['diffuselyrlright', 'and', 'arms']

0

In [39]:
# side of body of onset
history_symptom['right_onset_side'] = history_symptom['location'].apply(right_side)
history_symptom['left_onset_side'] = history_symptom['location'].apply(left_side)

In [42]:
history_symptom.head(20)

,subject_id,Symptom,Symptom_Other_Specify,Location,location,right_onset_side,left_onset_side
0,649,WEAKNESS,NaN,FACIAL,facial,0,0
1,649,Speech,NaN,SPEECH,speech,0,0
2,1234,Speech,NaN,TONGUE WEAKNESS,tongue weakness,0,0
3,1234,Swallowing,NaN,ORAL PNARYNGIAL WEAKNESS,oral pnaryngial weakness,0,0
4,2540,WEAKNESS,NaN,RIGHT LEG,right leg,1,0
5,2956,WEAKNESS,NaN,LEFT LEG,left leg,0,1
6,3085,Speech,NaN,BULBAR,bulbar,0,0
7,3551,WEAKNESS,NaN,R ARM,r arm,1,0
8,3809,WEAKNESS,NaN,(R) HAND + FOOT,(r) hand + foot,1,0
9,3870,WEAKNESS,NaN,ORAL MUSCLES,oral muscles,0,0
10,4390,WEAKNESS,NaN,FINGERS OF BOTH HANDS,fingers of both hands,0,0
11,4772,WEAKNESS,NaN,LEFT LEG,left leg,0,1
12,5092,WEAKNESS,NaN,TONGUE ARMS,tongue arms,0,0
13,5155,WEAKNESS,NaN,LEFT FOOT DROP,left foot drop,0,1
14,5588,WEAKNESS,NaN,RIGHT THUMB & INDEX FINGER,right thumb & index finger,1,0
15,5936,Speech,NaN,MOUTH,mouth,0,0
16,5936,OTHER,sialorrhea,MOUTH,mouth,0,0
17,6502,WEAKNESS,NaN,PROXIMAL LOWER RIGHT LIMB,proximal lower right limb,1,0
18,6747,WEAKNESS,NaN,(R) FOOT DROP FEW MONTHS LATER (L) FT.,(r) foot drop few months later (l) ft.,1,1
19,7399,Swallowing,NaN,THROAT,throat,0,0

##