# 

###

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
from datetime import date
from datetime import timedelta as td
from datetime import datetime as dt

In [4]:
%load_ext autoreload
%autoreload 2

## functions

##

In [14]:
d2 = date.today()

In [17]:
d1 = date(2019,4,1)

In [18]:
(d2-d1).days

7

In [23]:
this = [1,3, 4]
for i, val in enumerate(this):
    print(i, val)

0 1
1 3
2 4

In [24]:
alsfrs_entries = {'test': ['onset', 'test1', 'test2', 'test3', 'test4', 'test5', 'test6'], 
                  'day_from_onset':[0, "","","","","",""] }
df = pd.DataFrame(alsfrs_entries)

In [25]:
for i, alsfrs_entries in enumerate(this):
    df['day_from_onset'].iloc[i] = 0-i

In [26]:
df.head()

    test day_from_onset
0  onset              0
1  test1             -1
2  test2             -2
3  test3
4  test4