# ALS Project

## Death
- single entry per subject

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
from eda_functions import dups

In [3]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [4]:
# load the raw data
death = pd.read_csv("data/DeathData.csv")

In [5]:
print(death.shape)
death.head()

(4634, 3)

   subject_id Subject_Died  Death_Days
0          89          Yes       218.0
1         411          Yes       141.0
2         708          Yes       250.0
3         902           No         NaN
4        1312           No         NaN

In [6]:
dups(death)

Length df: 4634
Length g: 4633
Number subjects duplicated: 1

            Subject_Died  Death_Days  test_dup
subject_id
442984                 2           2         2

In [7]:
# discard value 84 for subject 442984
remove = death.index[(death['subject_id']== 442984) & (death['Death_Days']== 84)].tolist()
death.drop(index=remove, axis=0, inplace=True)

In [8]:
dups(death)

Length df: 4633
Length g: 4633
Number subjects duplicated: 0

In [9]:
death['death_days_trail_start'] = death['Death_Days']

In [10]:
death.drop('Death_Days', axis=1, inplace=True)

In [11]:
# convert subject died to 1=yes, 0=no
death['Subject_Died'].replace({'Yes': int(1), 'No': int(0)}, inplace=True)

In [12]:
death.head()

   subject_id  Subject_Died  death_days_trail_start
0          89             1                   218.0
1         411             1                   141.0
2         708             1                   250.0
3         902             0                     NaN
4        1312             0                     NaN

In [13]:
filename = 'clean_data/death.csv'
death.to_csv(filename, index=False)

## Death in days since disease onset

In [114]:
# load clean onset
onset = pd.read_csv('clean_data/onset_date.csv')
print(onset.shape)
onset.head()

(6879, 4)

   subject_id  Onset_Delta  Diagnosis_Delta  delta_onset_diag
0         329      -1706.0          -1068.0             638.0
1         348       -501.0           -302.0             199.0
2         533      -1023.0            -44.0             979.0
3         586       -715.0           -507.0             208.0
4         649       -341.0              NaN               NaN

In [115]:
# load clean death
death = pd.read_csv('clean_data/death.csv')
print(death.shape)
death.head()

(4633, 3)

   subject_id  Subject_Died  death_days_trail_start
0          89             1                   218.0
1         411             1                   141.0
2         708             1                   250.0
3         902             0                     NaN
4        1312             0                     NaN

In [116]:
death = death.merge(onset, how='outer', on='subject_id')

In [117]:
print(death.shape)
death.head()

(8408, 6)

,subject_id,Subject_Died,death_days_trail_start,Onset_Delta,Diagnosis_Delta,delta_onset_diag
0,89,1.0,218.0,NaN,NaN,NaN
1,411,1.0,141.0,NaN,NaN,NaN
2,708,1.0,250.0,-1070.0,-986.0,84.0
3,902,0.0,NaN,-514.0,-49.0,465.0
4,1312,0.0,NaN,-247.0,-63.0,184.0

In [119]:
# calc death since onset
death['death_day_since_onset'] = np.abs(death['Onset_Delta']) + death['death_days_trail_start']
death.drop(['Subject_Died', 'death_days_trail_start', 'Onset_Delta', 'Diagnosis_Delta', 'delta_onset_diag'], axis=1, inplace=True)

In [ ]:
# drop the nans
death.dropna(inplace=True)

In [1]:
death.head()

NameError: name 'death' is not defined

In [122]:
# save to csv
filename = 'clean_data/death_date.csv'
death.to_csv(filename, index=False)