# ALS Project

## Death
- single entry per subject

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
from eda_functions import dups

In [3]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [4]:
# load the raw data
death = pd.read_csv("data/DeathData.csv")

In [5]:
print(death.shape)
death.head()

(4634, 3)

   subject_id Subject_Died  Death_Days
0          89          Yes       218.0
1         411          Yes       141.0
2         708          Yes       250.0
3         902           No         NaN
4        1312           No         NaN

In [7]:
dups(death)

Length df: 4634
Length g: 4633
Number subjects duplicated: 1

            Subject_Died  Death_Days  test_dup
subject_id
442984                 2           2         2

In [8]:
# discard value 84 for subject 442984
remove = death.index[(death['subject_id']== 442984) & (death['Death_Days']== 84)].tolist()
death.drop(index=remove, axis=0, inplace=True)

In [9]:
dups(death)

Length df: 4633
Length g: 4633
Number subjects duplicated: 0

In [10]:
death['death_days_trail_start'] = death['Death_Days']

In [11]:
death.drop('Death_Days', axis=1, inplace=True)

In [12]:
# convert subject died to 1=yes, 0=no
death['Subject_Died'].replace({'Yes': int(1), 'No': int(0)}, inplace=True)

In [13]:
death.head()

   subject_id  Subject_Died  death_days_trail_start
0          89             1                   218.0
1         411             1                   141.0
2         708             1                   250.0
3         902             0                     NaN
4        1312             0                     NaN

In [14]:
filename = 'clean_data/death.csv'
death.to_csv(filename, index=False)