# ALS Project

## Labs
- multi-subject
- make this tidy

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
from functools import reduce
import pickle

In [2]:
def make_lower(val):
    w=val.lower()
    return w

In [3]:
#load original csv file
labs = pd.read_csv("data/Labs.csv")

In [4]:
labs.head()

   subject_id        Test_Name Test_Result Test_Unit  Laboratory_Delta
0         329       Hemoglobin         130       g/L               0.0
1         329      Urine Color      YELLOW       NaN               0.0
2         329        Uric Acid      237.92    umol/L               0.0
3         329  ALPHA2-GLOBULIN           1      g/dL               0.0
4         329           Sodium         138    mmol/L               0.0

In [5]:
labs['study_day'] = labs["Laboratory_Delta"]
labs.drop("Laboratory_Delta", axis=1, inplace=True)

In [6]:
print(labs.shape)
labs.head()

(2445059, 5)

   subject_id        Test_Name Test_Result Test_Unit  study_day
0         329       Hemoglobin         130       g/L        0.0
1         329      Urine Color      YELLOW       NaN        0.0
2         329        Uric Acid      237.92    umol/L        0.0
3         329  ALPHA2-GLOBULIN           1      g/dL        0.0
4         329           Sodium         138    mmol/L        0.0

In [7]:
# make lowercase location column
labs['test_name'] = labs['Test_Name'].apply(make_lower)

In [8]:
# what do test look like?
#sorted(list(labs['test_name'].unique()))

In [9]:
# what are the common lab tests?
tests = labs['test_name'].value_counts(ascending=True)
x = tests[tests<100]

In [10]:
len(x) # number of tests less than 100

93

In [11]:
len(tests) # total number of tests

222

In [12]:
#list(x.index)  # see which tests are too uncommon

In [13]:
# get rid of any tests where less than 100 values exist.
labs = labs[ ~labs['test_name'].isin(list(x.index))]

In [14]:
# check few tests gone from dataset = yes
#labs['test_name'].value_counts(ascending=True)

In [15]:
labs.head()

,subject_id,Test_Name,Test_Result,Test_Unit,study_day,test_name
0,329,Hemoglobin,130,g/L,0.0,hemoglobin
1,329,Urine Color,YELLOW,NaN,0.0,urine color
2,329,Uric Acid,237.92,umol/L,0.0,uric acid
3,329,ALPHA2-GLOBULIN,1,g/dL,0.0,alpha2-globulin
4,329,Sodium,138,mmol/L,0.0,sodium

In [16]:
list(labs['test_name'].unique())

['hemoglobin',
 'urine color',
 'uric acid',
 'alpha2-globulin',
 'sodium',
 'glucose',
 'chloride',
 'bicarbonate',
 'segmented neutrophils',
 'platelets',
 'red blood cells (rbc)',
 'hematocrit',
 'bilirubin (total)',
 'immunoglobulin m',
 'bilirubin (direct)',
 'fibrinogen',
 'absolute eosinophil count',
 'alkaline phosphatase',
 'immunoglobulin a',
 'ast(sgot)',
 'gamma-globulin',
 'urine specific gravity',
 'immunoglobulin g',
 'monocytes',
 'protein',
 'urine squamous epithelial cells',
 'mean corpuscular hemoglobin',
 'mean corpuscular hemoglobin concentration',
 'potassium',
 'mean corpuscular volume',
 'phosphorus',
 'ck',
 'free t4',
 'lymphocytes',
 'partial thromboplastin time',
 'white blood cell (wbc)',
 'c-reactive protein',
 'lactate dehydrogenase',
 'calcium',
 'blood urea nitrogen (bun)',
 'albumin/globulin ratio',
 'urine appearance',
 'albumin',
 'basophils',
 'beta-globulin',
 'creatinine',
 'urine bacteria',
 'alt(sgpt)',
 'alpha1-globulin',
 'prothrombin time (clotting)',
 'urine mucus',
 'urine uric acid crystals',
 'urine calcium oxalate crystals',
 'triglycerides',
 'urine urobilinogen',
 'globulin',
 'urine protein',
 'absolute basophil count',
 'urine ph',
 'urine blood',
 'rbc morphology',
 'bilirubin (indirect)',
 'gfr',
 'total cholesterol',
 'urine bilirubin',
 'absolute neutrophil count',
 'urine leukesterase',
 'urine glucose',
 'gamma-glutamyltransferase',
 'magnesium',
 'eosinophils',
 'urine ketones',
 'absolute segmented neutrophil count',
 'absolute monocyte count',
 'urine nitrite',
 'absolute lymphocyte count',
 'urine wbcs',
 'urine rbcs',
 'urine micro',
 'hydration volume',
 'total yield',
 'normocytic',
 'was patient fasting?',
 'urine amorphous crystals',
 'neutrophils',
 'hba1c (glycated hemoglobin)',
 'band neutrophils',
 'absolute band neutrophil count',
 'urine creatinine',
 'prothrombin time ratio',
 'bilirubin',
 'phosphate',
 'urine albumin',
 'urine creatinine clearance',
 'urine volume',
 'urine collection duration',
 'urine microscopic',
 'hyaline cast',
 'urine spermatazoa',
 'urine mucous',
 'amorphous urates crystals',
 'aldolase',
 'creatine kinase mm',
 'lactate dehydrogenase - 5',
 'lactate dehydrogenase - 2',
 'creatine kinase mb',
 'lactate dehydrogenase - 4',
 'lactate dehydrogenase - 1',
 'lactate dehydrogenase - 3',
 'beta hcg',
 'stool occult blood',
 'h. pylori antibody',
 'free t3',
 'amylase',
 'international normalized ratio (clotting)',
 'urine casts',
 'thyroid stimulating hormone',
 'urine hyaline cast',
 'rbc morphology: anisocytosis',
 'rbc morphology: macrocytosis',
 'lithium',
 'salivary amylase',
 'pancreatic amylase',
 'urine transitional epithelial cells',
 'vitamin e',
 'malondialdehyde',
 'urine yeast',
 'urine microalbumin',
 'amorphous phosphate crystals']

In [17]:
lab_dfs=[]
for inx, t in enumerate(list(labs['test_name'].unique())):
    new_lab = labs[ labs['test_name'] == t].copy().reset_index(drop=True)
    new_lab[t]=new_lab['Test_Result']
    new_lab[t+' unit']=new_lab['Test_Unit']
    new_lab.drop(['Test_Name', 'test_name', 'Test_Unit', 'Test_Result'], axis=1, inplace=True)
    if inx == 0:
        final_lab = new_lab
    lab_dfs.append(new_lab)

In [19]:
# pickle the table list
with open('labs_list.pkl', 'wb') as f:
    pickle.dump(lab_dfs, f)

In [20]:
# open the pickle file
with open('labs_list.pkl', 'rb') as f:
    labs_dfs = pickle.load(f)

In [38]:
len(labs_dfs)

129

In [93]:
labs_dfs[0]

       subject_id  study_day hemoglobin hemoglobin unit
0             329        0.0        130             g/L
1             329       42.0        120             g/L
2             329       72.0        120             g/L
3             329      106.0        120             g/L
4             329      135.0        120             g/L
5             329      168.0        120             g/L
6             329      189.0        120             g/L
7             329      212.0        120             g/L
8             329      247.0        120             g/L
9             329      274.0        120             g/L
10            348        0.0        139             g/L
11            348       19.0        138             g/L
12            348       61.0        137             g/L
13            348       90.0        132             g/L
14            348      120.0        132             g/L
15            348      150.0        126             g/L
16            348      201.0        138             g/L
17            348      214.0        136             g/L
18            348      250.0        131             g/L
19            348      276.0        134             g/L
20            348      306.0        142             g/L
21            348      334.0        134             g/L
22            348      366.0        139             g/L
23            348      401.0        137             g/L
24            533        0.0        143             g/L
25            533       91.0        144             g/L
26            533      189.0        148             g/L
27            533      287.0        156             g/L
28            649      -17.0        134             g/L
29            649        0.0        132             g/L
...           ...        ...        ...             ...
64040      999482      107.0        168             g/L
64041      999482      136.0        167             g/L
64042      999482      192.0        173             g/L
64043      999482      252.0        178             g/L
64044      999482      317.0        164             g/L
64045      999482      374.0        175             g/L
64046      999482      434.0        174             g/L
64047      999863      -12.0        150             g/L
64048      999863       29.0        150             g/L
64049      999863       57.0        150             g/L
64050      999863       85.0        160             g/L
64051      999863      171.0        150             g/L
64052      999880        0.0        160             g/L
64053      999880       49.0        160             g/L
64054      999880       70.0        150             g/L
64055      999880      105.0        160             g/L
64056      999880      126.0        160             g/L
64057      999880      147.0        160             g/L
64058      999880      175.0        160             g/L
64059      999880      210.0        160             g/L
64060      999880      238.0        160             g/L
64061      999880      266.0        160             g/L
64062      999990        0.0        150             g/L
64063      999990       26.0        145             g/L
64064      999990       40.0        142             g/L
64065      999990       53.0        135             g/L
64066      999990       68.0        134             g/L
64067      999990       82.0        131             g/L
64068      999990       97.0        134             g/L
64069      999990      126.0        133             g/L

[64070 rows x 4 columns]

In [85]:
# get length of tables
table_len=[]
for i in range(len(labs_dfs)):
    table_len.append((i,len(labs_dfs[i])))
table_len=sorted(table_len, key=lambda x: x[1], reverse=True)

In [94]:
# get top 5 longest tables and merge
for i in range(5):
    inx = table_len[i][0]
    if i ==0:
        new_table = labs_dfs[inx].copy()
    else:
        new_table = new_table.merge(labs_dfs[inx], how='outer', 
                                    on=['subject_id', 'study_day'])

In [95]:
print(new_table.shape)
new_table.head()

,subject_id,study_day,alt(sgpt),alt(sgpt) unit,ast(sgot),ast(sgot) unit,white blood cell (wbc),white blood cell (wbc) unit,red blood cells (rbc),red blood cells (rbc) unit,bilirubin (total),bilirubin (total) unit
0,329,0.0,18,U/L,20,U/L,10,10E9/L,2000,10E9/L,0,umol/L
1,329,0.0,18,U/L,20,U/L,10,10E9/L,6000,10E9/L,0,umol/L
2,329,0.0,18,U/L,20,U/L,7.5,NaN,2000,10E9/L,0,umol/L
3,329,0.0,18,U/L,20,U/L,7.5,NaN,6000,10E9/L,0,umol/L
4,329,42.0,49,U/L,30,U/L,-,NaN,5000,10E9/L,0,umol/L

In [209]:
labs_final = reduce(lambda left,right: pd.merge(left,right,
                                              on=['subject_id','study_day'], 
                                              how='outer'), lab_dfs)

KeyboardInterrupt:

In [210]:
# save to csv
filename = 'clean_data/labs_clean.csv'
labs_final.to_csv(filename, index=False)

NameError: name 'labs_final' is not defined