# ALS Project

## Labs
- multi-subject
- make this tidy

In [196]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
from functools import reduce

In [15]:
def make_lower(val):
    w=val.lower()
    return w

In [118]:
#load original csv file
labs = pd.read_csv("data/Labs.csv")

In [119]:
labs.head()

   subject_id        Test_Name Test_Result Test_Unit  Laboratory_Delta
0         329       Hemoglobin         130       g/L               0.0
1         329      Urine Color      YELLOW       NaN               0.0
2         329        Uric Acid      237.92    umol/L               0.0
3         329  ALPHA2-GLOBULIN           1      g/dL               0.0
4         329           Sodium         138    mmol/L               0.0

In [120]:
labs['study_day'] = labs["Laboratory_Delta"]
labs.drop("Laboratory_Delta", axis=1, inplace=True)

In [121]:
print(labs.shape)
labs.head()

(2445059, 5)

   subject_id        Test_Name Test_Result Test_Unit  study_day
0         329       Hemoglobin         130       g/L        0.0
1         329      Urine Color      YELLOW       NaN        0.0
2         329        Uric Acid      237.92    umol/L        0.0
3         329  ALPHA2-GLOBULIN           1      g/dL        0.0
4         329           Sodium         138    mmol/L        0.0

In [122]:
# make lowercase location column
labs['test_name'] = labs['Test_Name'].apply(make_lower)

In [123]:
# what do test look like?
#sorted(list(labs['test_name'].unique()))

In [124]:
# what are the common lab tests?
tests = labs['test_name'].value_counts(ascending=True)
x = tests[tests<100]

In [125]:
len(x) # number of tests less than 100

93

In [126]:
len(tests) # total number of tests

222

In [127]:
#list(x.index)  # see which tests are too uncommon

In [128]:
# get rid of any tests where less than 100 values exist.
labs = labs[ ~labs['test_name'].isin(list(x.index))]

In [129]:
# check few tests gone from dataset = yes
#labs['test_name'].value_counts(ascending=True)

In [134]:
labs.head()

,subject_id,Test_Name,Test_Result,Test_Unit,study_day,test_name
0,329,Hemoglobin,130,g/L,0.0,hemoglobin
1,329,Urine Color,YELLOW,NaN,0.0,urine color
2,329,Uric Acid,237.92,umol/L,0.0,uric acid
3,329,ALPHA2-GLOBULIN,1,g/dL,0.0,alpha2-globulin
4,329,Sodium,138,mmol/L,0.0,sodium

In [154]:
list(labs['test_name'].unique())

['hemoglobin',
 'urine color',
 'uric acid',
 'alpha2-globulin',
 'sodium',
 'glucose',
 'chloride',
 'bicarbonate',
 'segmented neutrophils',
 'platelets',
 'red blood cells (rbc)',
 'hematocrit',
 'bilirubin (total)',
 'immunoglobulin m',
 'bilirubin (direct)',
 'fibrinogen',
 'absolute eosinophil count',
 'alkaline phosphatase',
 'immunoglobulin a',
 'ast(sgot)',
 'gamma-globulin',
 'urine specific gravity',
 'immunoglobulin g',
 'monocytes',
 'protein',
 'urine squamous epithelial cells',
 'mean corpuscular hemoglobin',
 'mean corpuscular hemoglobin concentration',
 'potassium',
 'mean corpuscular volume',
 'phosphorus',
 'ck',
 'free t4',
 'lymphocytes',
 'partial thromboplastin time',
 'white blood cell (wbc)',
 'c-reactive protein',
 'lactate dehydrogenase',
 'calcium',
 'blood urea nitrogen (bun)',
 'albumin/globulin ratio',
 'urine appearance',
 'albumin',
 'basophils',
 'beta-globulin',
 'creatinine',
 'urine bacteria',
 'alt(sgpt)',
 'alpha1-globulin',
 'prothrombin time (clotting)',
 'urine mucus',
 'urine uric acid crystals',
 'urine calcium oxalate crystals',
 'triglycerides',
 'urine urobilinogen',
 'globulin',
 'urine protein',
 'absolute basophil count',
 'urine ph',
 'urine blood',
 'rbc morphology',
 'bilirubin (indirect)',
 'gfr',
 'total cholesterol',
 'urine bilirubin',
 'absolute neutrophil count',
 'urine leukesterase',
 'urine glucose',
 'gamma-glutamyltransferase',
 'magnesium',
 'eosinophils',
 'urine ketones',
 'absolute segmented neutrophil count',
 'absolute monocyte count',
 'urine nitrite',
 'absolute lymphocyte count',
 'urine wbcs',
 'urine rbcs',
 'urine micro',
 'hydration volume',
 'total yield',
 'normocytic',
 'was patient fasting?',
 'urine amorphous crystals',
 'neutrophils',
 'hba1c (glycated hemoglobin)',
 'band neutrophils',
 'absolute band neutrophil count',
 'urine creatinine',
 'prothrombin time ratio',
 'bilirubin',
 'phosphate',
 'urine albumin',
 'urine creatinine clearance',
 'urine volume',
 'urine collection duration',
 'urine microscopic',
 'hyaline cast',
 'urine spermatazoa',
 'urine mucous',
 'amorphous urates crystals',
 'aldolase',
 'creatine kinase mm',
 'lactate dehydrogenase - 5',
 'lactate dehydrogenase - 2',
 'creatine kinase mb',
 'lactate dehydrogenase - 4',
 'lactate dehydrogenase - 1',
 'lactate dehydrogenase - 3',
 'beta hcg',
 'stool occult blood',
 'h. pylori antibody',
 'free t3',
 'amylase',
 'international normalized ratio (clotting)',
 'urine casts',
 'thyroid stimulating hormone',
 'urine hyaline cast',
 'rbc morphology: anisocytosis',
 'rbc morphology: macrocytosis',
 'lithium',
 'salivary amylase',
 'pancreatic amylase',
 'urine transitional epithelial cells',
 'vitamin e',
 'malondialdehyde',
 'urine yeast',
 'urine microalbumin',
 'amorphous phosphate crystals']

In [208]:
lab_dfs=[]
for inx, t in enumerate(list(labs['test_name'].unique())):
    new_lab = labs[ labs['test_name'] == t].copy().reset_index(drop=True)
    new_lab[t]=new_lab['Test_Result']
    new_lab[t+' unit']=new_lab['Test_Unit']
    new_lab.drop(['Test_Name', 'test_name', 'Test_Unit', 'Test_Result'], axis=1, inplace=True)
    if inx == 0:
        final_lab = new_lab
    lab_dfs.append(new_lab)

In [209]:
labs_final = reduce(lambda left,right: pd.merge(left,right,
                                              on=['subject_id','study_day'], 
                                              how='outer'), lab_dfs)

KeyboardInterrupt:

In [210]:
# save to csv
filename = 'clean_data/labs_clean.csv'
labs_final.to_csv(filename, index=False)

NameError: name 'labs_final' is not defined