# 

###

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
from datetime import date
from datetime import timedelta as td
from datetime import datetime as dt

In [4]:
%load_ext autoreload
%autoreload 2

## functions

##

In [14]:
d2 = date.today()

In [17]:
d1 = date(2019,4,1)

In [18]:
(d2-d1).days

7

In [23]:
this = [1,3, 4]
for i, val in enumerate(this):
    print(i, val)

0 1
1 3
2 4

In [24]:
alsfrs_entries = {'test': ['onset', 'test1', 'test2', 'test3', 'test4', 'test5', 'test6'], 
                  'day_from_onset':[0, "","","","","",""] }
df = pd.DataFrame(alsfrs_entries)

In [25]:
for i, alsfrs_entries in enumerate(this):
    df['day_from_onset'].iloc[i] = 0-i

In [26]:
df.head()

    test day_from_onset
0  onset              0
1  test1             -1
2  test2             -2
3  test3
4  test4

In [27]:
pd.read_csv("website/baseline_df.csv")

,Subject_used_Riluzole,Race_Caucasian,age_at_onset,symptom_weakness,loc_spinal,loc_speech_or_mouth,slope_updated_ALSFRS_Total,slope_Q1_Speech,slope_Q2_Salivation,slope_Q3_Swallowing,slope_Q4_Handwriting,slope_Q6_Dressing_and_Hygiene,slope_Q7_Turning_in_Bed,slope_Q8_Walking,slope_Q9_Climbing_Stairs,slope_Q10_Updated
0,1.000000,1.000000,62.789041,1.000000,1.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.796199,0.621992,57.514399,0.870662,0.79991,0.222172,-0.02324,-0.001933,-0.001399,-0.001536,-0.002405,-0.003094,-0.002486,-0.002573,-0.003675,-0.001216

In [137]:
from collections import defaultdict
from scipy.stats import linregress

def linreg_scalers(df):
    '''
    creates linear regression slopes, intercepts for every alsfrs value in a df.
    input:
        df = df
        subject_col = name of subject id column
        y_col = name of first y data column
        x_col = name of column with x values
        y_label = name of y feature (for table output)
    output:
        regression outputs in dataframe
    '''
    slopes = defaultdict()
    
    # list of every subject in table 
    #subjects_list = list(np.unique(df[subject_col]))
    
    # format df for analysis
    df.dropna(inplace=True)
    x=np.array(df['day'])
    
    #df.drop(['date','test', 'day_from_onset', 'R2', 'R3'], axis=1, inplace=True)
    #df['ALSFRS_Total'] = df.sum(axis=1)
    
    # for each question
    for q in list(df.columns):
        y = np.array(df[q].copy())
        
        # linregress is part of scipy.stats. 
        slope, intercept, r_value, p_value, std_err = linregress(x, y)
        slopes[q] = (q, slope, intercept)

    # format as dataframe
    full_result = pd.DataFrame(slopes).reset_index(drop=True)
    full_result.rename(index=str, columns={"index": "subject_id", 
                                           0: 'Q1' ,
                                           1: 'Q2', 
                                           2: 'Q3',
                                           3: 'Q4',
                                           4: 'Q6',
                                           5: 'Q7',
                                           6: 'Q8',
                                           7: 'Q9',
                                           8: 'Q10-R1',
                                           9: 'ALSFRS_Total'
                                          }, inplace=True)
    #full_result.drop('day')
    
    # return table
    return full_result

In [167]:
this = pd.DataFrame({"day": ["start","fin"],
                    "q1": [4, 4],
                    "q2": [3, 10]})

In [168]:
this

     day  q1  q2
0  start   4   3
1    fin   4  10

In [170]:
float(this['q1'].loc[this['day']=='fin'])

4.0

In [166]:
this['day'].iloc[1]

'q2'

In [ ]:
        question       slope intercept
0             Q1   -0.142857         4
1             Q2   -0.142857         4
2             Q3   -0.142857         4
3             Q4   -0.142857         4
4             Q5   -0.142857         4
5             Q6   -0.142857         4
6             Q7   -0.142857         4
7             Q8   -0.142857         4
8             Q9   -0.142857         4
9         Q10_R1   -0.142857         4
10  ALSFRS_Total  4.7619e+08        40

In [ ]:
# symptom selection
def symptom_handler(new):
    print ('Symptom selection ' + str(new) + ' selected.')
symptom = Select(title="Symptom Type:", value="Unknown", 
                 options=["Unknown", "Sensory changes", "Speech", 
                          "Stiffness", "Swallowing",
                         'Weakness', 'Atrophy', 'Cramps',
                         'Fasciculations', "Gait changes"])

# onset radio button
def onset_loc_handler(new):
    print ('Radio button option' + str(new) + ' selected.')
pp_onset = Paragraph(text="""Onset Neuron Group""", width=250, height=15)
onset_loc = RadioButtonGroup(labels=["Bulbar", "Spinal", "Both", "*Unk"], active=3)
#onset_loc.on_click(onset_loc_handler)

# riluzole radio button
def riluzole_handler(new):
    print ('Radio button option ' + str(new) + ' selected.')
pp_riluzole = Paragraph(text="""Subject used Riluzole""", width=250, height=15)
riluzole = RadioButtonGroup(labels=["No", "Yes", "*Unk"], active=2)
riluzole.on_click(onset_loc_handler)

# caucasian radio button
def caucasian_handler(new):
    print ('Radio button option ' + str(new) + ' selected.')
pp_caucasian = Paragraph(text="""Race Caucasian""", width=250, height=15)
caucasian = RadioButtonGroup(labels=["No", "Yes", "*Unk"], active=2) 
caucasian.on_click(caucasian_handler)

# sex radio button
def sex_handler(new):
    print ('Radio button option ' + str(new) + ' selected.')
pp_sex = Paragraph(text="""Sex""", width=250, height=15)
sex = RadioButtonGroup(labels=["Female", "Male", "*Unk"], active=2)
sex.on_click(sex_handler)